{% load static %}
	<!-- header start -->
	<header class="ttr-header">
		<div class="ttr-header-wrapper">
			<!--sidebar menu toggler start -->
			<div class="ttr-toggle-sidebar ttr-material-button">
				<i class="ti-close ttr-open-icon"></i>
				<i class="ti-menu ttr-close-icon"></i>
			</div>
			<!--sidebar menu toggler end -->
			<!--logo start -->
			<div class="ttr-logo-box">
				<div>
					<a href="/" class="ttr-logo">
						<img class="ttr-logo-mobile" alt="" src="{% static 'logo.png' %}" width="150" height="30">
						<img class="ttr-logo-desktop" alt="" src="{% static 'logo.png' %}" width="160" height="27">
					</a>
				</div>
			</div>
			<!--logo end -->
			
			<div class="ttr-header-right ttr-with-seperator">
				<!-- header right menu start -->
				<ul class="ttr-header-navigation">
					
					
					<li>
						<a href="#" class="ttr-material-button ttr-submenu-toggle">
							<span class="ttr-user-avatar">
								<div class="bg-danger" style="vertical-align: middle; padding: 7.5px 12px">A</div>
							</span>
						</a>
						<div class="ttr-header-submenu">
							<ul>
								<li>
									<a href="{% url 'dashboard:logout' %}">logout</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<!-- header right menu end -->
			</div>
		</div>
	</header>
	<!-- header end -->