{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-12 flex ai-center mb-2 px-4">
            <h4>Контакт</h4>
        </div>
    </div>
    {% if queryset %}
    <div class="col-12 px-4">
        <table class="slide table table-striped table-bordered mb-4 rounded-2">
            <thead class="table-bordered bg-warning">
                <tr>
                    <th class="py-1 px-3 text-light py-3">ID</th>
                    <th class="py-1 px-3 text-light py-3">Имя</th>
                    <th class="py-1 px-3 text-light py-3">Телефон</th>
                    <th class="py-1 px-3 text-light py-3">Эл. адрес</th>
                    <th class="py-1 px-3 text-light py-3">Сообщения</th>
                </tr>
            </thead>
            <tbody>
                {% for object in page_obj %}
                    <tr>
                        <td class="py-1 px-3">
                            {{ object.id }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.name }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.phone }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.email }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.messages }}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--Pagination-->
        {% include "dashboard/includes/page_obj.html" %}

    <!--end of Pagination-->

    
    {% else %}
        <h1 class="slide alert alert-danger">Не найден Контакт</h1>
    {% endif %}
</div>
{% endblock %}