{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<style>
    .btn-primary {
        background-color: #007bff !important;
    }

    .main-container {
        border-radius: 50px;
        width: 100%;
        flex-grow: 8;
        margin-top: 40px;
        margin-bottom: 20;
        margin-left: 40px;
        -webkit-transition: .3s ease all;
        transition: .3s ease all;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-12 flex ai-center mb-2 px-4">
            <h4 class="d-inline my-0">Спецтехникa</h4>
            <a style="float: right;" href="{% url 'dashboard:create_st' %}" class="btn btn-primary ml-auto">Добавить</a>
        </div>
    </div>
        {% if queryset %}
        <div class="col-12 px-4">
            <table class="slide table table-striped table-bordered mb-4 rounded-2">
                <thead class="table-bordered bg-warning">
                    <tr>
                        <th class="py-1 px-3 text-light py-3">ID</th>
                        <th class="py-1 px-3 text-light py-3">Тип</th>
                        <th class="py-1 px-3 text-light py-3">Модель</th>
                        <th class="py-1 px-3 text-light py-3">PDF</th>
                        <th class="py-1 px-3 text-light py-3">Фото</th>
                        <th class="py-1 px-3 text-light py-3">Edit</th>
                        <th class="py-1 px-3 text-light py-3">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in page_obj %}
                    <tr>
                        <td class="py-1 px-3">
                            {{ object.id }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.name }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.category }}
                        </td>
                        <td class="py-1 px-3">
                            {{ object.doc }}
                        </td>
                        <td class="py-1 px-3">
                            <img src="{{ object.image.url }}" width="100px" alt="{{ object.name }}">
                        </td>
                        <td class="py-1 px-3">
                            <a href="{% url 'dashboard:update_st' object.id %}" class="btn btn-primary">
                                Edit
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                        <td class="py-1 px-3">
                            <a href="{% url 'dashboard:delete_st' object.id %}" class="btn bg-danger">
                                Delete
                                <i class="bi bi-x"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!--Pagination-->
        {% include "dashboard/includes/page_obj.html" %}
        <!--end of Pagination-->


        {% else %}
        <h1 class="slide alert alert-danger">Не найден Специальная техника</h1>
        {% endif %}
    </div>
</div>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
